*, *::after, *::before {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root {
      --amarelo: #FFCD1E;
      --sky: #06B6D4;
      --sky-light: #67E8F9;
      --pink: #DB2777;
      --pink-light: #F472B6;
      --green: #16A34A;

      --text: #000000;
      --highlights: #000000;
      --background: #FAFAFA;

      --ff-base: 'Montserrat', sans-serif;
      --text-sm: .875rem;
      --text-base: 1rem;
      --text-lg: 2.5rem;
      --text-xl: 4rem;
}

html, button {
      font: 500 1rem/1.5 'Montserrat', sans-serif;
}

h1, h2 {
      font-family: 'Syne', sans-serif;
}

h1 {
      font-size: var(--text-xl);
      line-height: 1.25;
}

h2 {
      font-size: var(--text-lg);
      line-height: 1.2;
}

a {
      color: inherit;
      text-decoration: none;
}